@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m2sunq');
  src:  url('../fonts/icomoon.eot?m2sunq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m2sunq') format('truetype'),
    url('../fonts/icomoon.woff?m2sunq') format('woff'),
    url('../fonts/icomoon.svg?m2sunq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-info:before {
  content: "\ea0c";
}

figcaption {
  padding: .5em;
}

textarea {
  font-family: 'Trebuchet MS';
  font-size: 1em;
}

.display_N {
  display: none;
}

.text-S1 {
  font-size: 2.5em;
}

.text-S2 {
  font-size: 1.5em;
}

.rotate {
  transform: rotate(8deg);
  margin: -1em;
  padding: -1em;
}
    
.background-c {
  background-color: turquoise;
  width: 96.2%;
  margin: 0;
  padding: 2em;
}

.circle {   
  text-align: center;
  color: white;
  margin: 2em;
}

.circle h1 {
  border-radius: 50%;
  width: 102px;
  height: 102px;
  margin: auto;
  padding: 16px 6px 0 6px;
  border: 2px solid white;
}  
    
.background-img {
  background-image: url(../images/values-bg.jpg);
  width: 100%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: .5em .5em .5em 1.7em;
  padding: 0;
  width: 96%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
  
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}
  
table th,
table td {
  padding: .625em;
  text-align: center;
}
  
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

span {
  margin: 3px;
}

a:hover,
a:visited {
color: white; 
}

nav input[type="checkbox"] {
  display: none;
}

.toggle,
[id^=drop] {
display: none;
}

nav { 
margin:0;
padding: 0;
background-color: #254441;
}

.logo {
display: block;
padding:8px 8px 8px 32px;
  float: left;
font-size:20px;
line-height: 10px;
  color: white;
}

nav:after {
content:"";
display:table;
clear:both;
}

nav ul {
float: left;
padding:0;
margin:8px 8px 8px 64px;
list-style: none;
position: relative;
}

nav ul li {
margin: 0px;
display:inline-block;
background-color: #254441;
}

nav a {
display:block;
padding:14px 20px;	
font-size:17px;
text-decoration:none;
}

nav ul li:hover { background: #000000; }

nav a:hover { 
background-color: #000000; 
}

@media screen and (max-width: 600px) {
  .textA_L {
    text-align: center;
  }

  .display_NO {
    display: none;
  }

  .circle {
    text-align: center;
    color: white;
    margin: 1em;
  }
        
  .circle h1 {
    border-radius: 50%;
    width: 80.5px;
    height: 80.5px;
    margin: auto;
    padding: 10px 3px 0 3px;
    border: 2px solid white;
  }

  .background-c {
    background-color: turquoise;
    width: 93.8%;
    margin: 0;
    padding: 2em;
  }

  table {
    border: 0;
  }
  
  table caption {
    font-size: 1.3em;
  }
    
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
    
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
    
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
    
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
    
  table td:last-child {
    border-bottom: 0;
  }

  .logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
    padding: 0;
	}

	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;
        text-align: center;
        color: white;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

  nav ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }

	nav ul li {
    margin: 0;
    padding: 0;
		display: block;
		width: 100%;
    border: solid 1px black;
	}

	nav ul li .toggle,
	nav ul li span a {
		background-color: #254441; 
	}
}